@use "_vars.scss"as v;
@use "_mixin.scss"as m;

/* ---------
 header
 --------- */

.header{
	background: v.$white;
	&.fix{
		background: transparent;
		position: fixed;
		top: 3%;
		width: 100%;
		z-index: 20;
	}
	@include m.max-screen(v.$sp) {
		padding: 2% 0;
		&.fix{
			display: block;
			position: fixed;
		}
	}
	&_box{
		width: 900px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		gap: 16px;
		justify-content: center;
		padding: 0 16px;
		position: relative;
		@include m.max-screen(v.$header) {
			width: 96%;
			padding: 10px 0;
		}
		@include m.max-screen(v.$sp) {
			padding: 0 8px;
			gap: 8px;
			justify-content: space-between;
		}
		.logo{
			height: 48px;
			img{
				height: 100%;
			}
		}
		.toggle{
			display: none;
			@include m.max-screen(v.$sp) {
				display: block;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: v.$secondary-dark;
				position: relative;
				cursor: pointer;
				span{
					height: 1px;
					background: v.$white;
					width: 60%;
					position: absolute;
					left:20%;
					transition: linear .5s;
					&:nth-last-of-type(1){
						top: 40%;
					}
					&:nth-last-of-type(2){
						top: 60%;
					}
				}
				&.on{
					span{
						transition: linear .5s;
						&:nth-last-of-type(1){
							top: 50%;
						}
						&:nth-last-of-type(2){
							top: 50%;
						}
					}
				}
			}
		}
		.nav{
			display: flex;
			align-items: center;
			column-gap: 32px;
			@include m.max-screen(v.$sp) {
				display: none;
				position: absolute;
				width: 80vw;
				top: 100%;
				right: 5%;
				padding: 5%;
				border: 1px solid v.$secondary-dark;
				background: v.$white;
				border-radius: 16px;
				z-index: 10;
			}
			&_link{
				display: flex;
				align-items: center;
				background: rgba(v.$white, .75);
				border-radius: 32px;
				padding: 24px 16px;
				gap: 16px;
				@include m.txt();
				@include m.max-screen(v.$tab) {
					padding: 10px 12px;
					gap: 8px;
					flex-wrap: wrap;
				}
				@include m.max-screen(v.$sp) {
					padding: 8px 12px;
					display: block;
					border-radius: 0;
					> li{
						margin-bottom: 3%;
						&:last-of-type{
							margin-bottom: 0;
						}
						a{
							display: block;
						}
					}
				}
			}
			&_button{
				display: flex;
				column-gap: 10px;
				@include m.max-screen(v.$sp) {
					display: block;
				}
				> li{
					> a{
						border-radius: 20px;
						color: v.$white;
						@include m.txt-mini();
						&{
							display: block;
							padding: 10px 36px;
							box-shadow: v.$shadow;
						}
						@include m.max-screen(v.$tab) {
							padding: 8px 16px;
							min-width: 80px;
						}
						@include m.max-screen(v.$sp) {
							width: 60%;
							margin: 0 auto;
							text-align: center;
						}
					}
					&.application{
						@include m.max-screen(v.$sp) {
							margin-bottom: 5%;
						}
						a{
							background: v.$accent;
						}
					}
					&.contact{
						a{
							background: v.$secondary-dark;
						}
					}
				}
			}
		}
	}
}

/* ---------
 main
 --------- */
main{
	display: block;
	.contents{
		position: relative;
		@include m.txt();
		.inner{
			background: v.$white;
			border-radius: 24px;
			padding: 24px 24px 40px;
			@include m.w-contents();
			&{margin: 0 auto;}
			@include m.max-screen(v.$tab) {
				width: 80%;
			}
			@include m.max-screen(v.$sp) {
				width: 80%;
				padding: 16px 16px 20px;
			}
			.ttl{
				@include m.ttl-lv1();
				&{
					text-align: center;
					margin-bottom: 34px;
				}
			}
		}
	}
}


/* ---------
 footer
 --------- */

 .footer{
	border-top: 2px solid v.$txt;
	&_img{
		background: v.$secondary url(../img/footer_image.png) repeat-x center bottom / auto 158px;
		height: 178px;
		@include m.max-screen(v.$sp) {
			background-size: auto 130px;
			height: 150px;
		}
	}
	&_box{
		padding: 16px 0 24px;
		background: v.$white;
	}
	&_info{
		display: flex;
		justify-content: space-between;
		@include m.w-contents();
		&{ margin: 0 auto;}
		@include m.max-screen(v.$sp) {
			display: block;
		}
	}
	&_nav{
		width: calc(100% - 250px);
		@include m.max-screen(v.$sp) {
			width: auto;
		}
		.logo{
			height: 60px;
			@include m.max-screen(v.$sp) {
				height: 40px;
			}
			img{
				height: 100%;
			}
		}
		.nav{
			padding: 16px 16px 14px 16px;
			@include m.max-screen(v.$sp) {
				padding: 10px;
			}
			> ul{
				display: flex;
				gap: 16px;
				flex-wrap: wrap;
				@include m.max-screen(v.$sp) {
					gap: 10px;
				}
			}
		}
	}
	&_share{
		width: 250px;
		@include m.max-screen(v.$sp) {
			width: auto;
			margin-bottom: 5%;
		}
		.sns{
			display: flex;
			gap: 10px;
			justify-content: flex-end;
			@include m.max-screen(v.$sp) {
				justify-content: center;
				margin: 10px auto;
			}
			.x{
				a{
					display: block;
					padding: 4px 0;
					img{
						height: 32px;
						@include m.max-screen(v.$sp) {
							height: 24px;
						}
					}
				}
			}
			.insta{
				a{
					display: block;
					img{
						height: 40px;
						@include m.max-screen(v.$sp) {
							height: 32px;
						}
					}
				}
			}
		}
		.supporter{
			&_ttl{
				font-size: 12px;
				@include m.max-screen(v.$sp) {
					font-size: 10px;
					text-align: center;
					margin-bottom: 1%;
				}
			}
			&_list{
				display: flex;
				align-items: center;
				column-gap: 16px;
				@include m.max-screen(v.$sp) {
					justify-content: center;
					column-gap: 4%;
					width: 80%;
					margin: 0 auto;
				}
				> li{
					@include m.max-screen(v.$sp) {
						a{
							display: block;
							text-align: center;
						}
					}
				}
				.fukuin{
					@include m.max-screen(v.$sp) {
						img{
							height: 24px;
							margin: 8px auto;
						}
					}
				}
				.lkmac{
					img{
						width: 60px;
						@include m.max-screen(v.$sp) {
							width: 40px;
						}
					}
				}
			}
		}
	}
	.copy{
		text-align: center;
		display: block;
	}
 }