//テキスト
$txt : #000;

//白
$white: #fff;


// font-size

$ttl-lv1: 28px;
$ttl-lv2: 20px;
$txt: 16px;
$txt-mini: 14px;
$txt-micro: 10px;

// sp時のフォントサイズ設定
// $ttl-lv1: 22px;
// $ttl-lv2: 18px;
// $txt: 14px;
// $txt-mini: 12px;
// $txt-micro: 10px;



// レスポンシブ

$tab: 840px;
$sp: 420px;