//テキスト
$txt : #304E4C;

//白
$white: #fff;

$base: #FFF1E0;
$secondary: #00CCBB;
$secondary-dark: #00A597;
$accent: #FF7733;

$shadow: 0px 4px 4px 0px rgba($txt, .5);

// レスポンシブ
$header: 900px;
$tab: 840px;
$sp: 580px;