@use "_vars.scss"as v;
@use "_mixin.scss"as m;

.contents{
    .lead{
        margin-bottom: 32px;
    }
    .page_nav{
        width: 600px;
        margin: 0 auto;
        background: rgba(v.$secondary-dark, .1);
        padding: 32px 60px 24px;
        border-radius: 10px;
        &-link{
            li{
                margin-bottom: 16px;
                &:last-of-type{
                    margin-bottom: 0;
                }
                a{
                    display: block;
                    &:before{
                        content: '';
                        background: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_994_927)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.28886 7.15694L0.631863 1.49994L2.04586 0.085937L6.99586 5.03594L11.9459 0.0859374L13.3599 1.49994L7.70286 7.15694C7.51534 7.34441 7.26103 7.44972 6.99586 7.44972C6.7307 7.44972 6.47639 7.34441 6.28886 7.15694Z' fill='%2300A597'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_994_927'%3E%3Crect width='8' height='14' fill='white' transform='translate(14) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                        width: 14px;
                        height: 8px;
                        display: inline-block;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    .column{
        &#theme{
            padding-top: 62px;
            .img_right{
                column-gap: 24px;
                align-items: flex-end;
                .txt{
                    width: calc(100% - (200px + 24px));
                }
                .img{
                    width: 200px;
                    padding: 0 15px;
                }
            }
        }
        &#exhibition{
            padding-top: 80px;
            > div {
                margin-bottom: 80px;
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
            .mascot{
                column-gap: 32px;
                .txt{
                   width: calc(100% - 384px - 32px);
                }
                .img{
                    width: 384px;
                    padding: 20px 24px 10px 16px;
                }
            }
            .medicali-llust{
                > .txt{
                    margin-bottom: 18px;
                }
                .img_right{
                    justify-content: space-between;
                    align-items: flex-end;
                    .img{
                        width: 254px;
                        padding: 10px 24px;
                    }
                    .txt{
                        width: calc(100% - 254px - 32px);
                    }
                }
            }
            .space{
                column-gap: 32px;
                .img{
                    width: 312px;
                    padding: 24px 24px 8px 24px;
                }
                .txt{
                    width: calc(100% - 312px - 32px );
                }
            }
        }
    }
    .item{
        padding-top: 80px;
        .lead{
            @include m.txt-mini();
        }
        .list{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: minmax(100px, auto);
            grid-column-gap: 15px;
            grid-row-gap: 34px;
            > li{
                background: v.$base;
                border-radius: 60px;
                text-align: center;
                margin-bottom: 0;
                @include m.txt-mini();
                .img{
                    margin-bottom: 8px;
                }
                .txt{
                    display: flex;
                    justify-content: center;
                    &::before{
                        content: '';
                        width: 24px;
                        height: 24px;
                        background: url(../img/icon_check.svg) no-repeat center center / cover;
                        display: inline-block;
                        margin-right: 8px;
                    }
                }
                &:nth-of-type(1){
                    grid-area: 1 / 1 / 2 / 3;
                    margin: 0 auto;
                    padding: 24px 32px;
                    .img{
                        width: 276px;
                        margin: 0 auto 8px;
                    }
                }
                &:nth-of-type(2){
                    grid-area: 2 / 1 / 3 / 2;
                    padding: 24px 28px;
                    .img{
                        width: 200px;
                        margin: 0 auto 8px;
                    }
                }
                &:nth-of-type(3){
                    grid-area: 2 / 2 / 3 / 3;
                    padding: 24px 40px;
                    .img{
                        width: 206px;
                        margin: 0 auto 8px;
                    }
                }
            }
        }
    }
    .participant{
        padding-top: 80px;
    }
    .press{
        padding-top: 80px;
        .button{
            margin: 0 auto;
        }
    }
}