@use "_vars.scss"as v;
@use "_mixin.scss"as m;

.header{
    @include m.max-screen(v.$sp) {
		position: absolute;
		background: transparent;
		display: none;
    }
}
.main{
    position: relative;
    height: 100vh;
    &_top{
        background: url(../img/top/main_top.png) repeat-x top center / contain;
        height: 30.078125vh;
        @include m.max-screen(v.$tab) {
            background-size: auto 100%;
        }
        @include m.max-screen(v.$sp) {
            background: url(../img/top/main_top_sp.png) repeat-x top center / contain;
        }
    }
    &_center{
        background: url(../img/top/main_center.png) repeat-x center center / contain;
        height: 45.117187vh;
        @include m.max-screen(v.$tab) {
            background-size: auto 100%;
            // height: 40vh;
        }
        @include m.max-screen(v.$sp) {
            background: url(../img/top/main_center_sp.png) repeat-x center center / contain;
        }
    }
    &_botton{
        background: url(../img/top/main_bottn.png) repeat-x top center / contain;
        height: 24.804688vh;
        @include m.max-screen(v.$tab) {
            background-size: auto 100%;
        }
        @include m.max-screen(v.$sp) {
            // background-size: auto 80%;
            background: url(../img/top/main_bottn_sp.png) repeat-x top center / contain;
        }
    }
    &_box{
        @include m.abs_top-center();
        background: rgba(v.$white, .8);
        border-radius: 32px;
        margin: 0 auto;
        @include m.w-contents();
        &{
            padding: 30px 20px 50px;
            text-align: center;
            max-height: 80vh;
        }
        @include m.max-screen(v.$tab) {
            padding: 3% 2% 5%;
        }
        .ttl{
            margin-bottom: 10px;
            max-height: 32.079208vh;
            @media screen and (max-width: v.$tab) {
                width: 80%;
                margin: 0 auto 1%;
            }
        }
        .date{
            font-size: 32px;
            font-family: m-plus-rounded-2p, sans-serif;
            font-weight: 900;
            font-style: normal;
            color: v.$accent;
            @include m.max-screen(v.$tab) {
                font-size: 26px;
            }
            @include m.max-screen(v.$sp) {
                font-size: min(22px, 5vw);
            }
        }
        .line{
            margin: 30px 0 24px;
            border-top: 2px dotted v.$secondary-dark;
            @include m.max-screen(v.$tab) {
                margin: 3% 0;
            }
        }
        .lead{
            width: 480px;
            margin: 0 auto;
            max-height: 28.514851vh;
            @include m.max-screen(v.$tab) {
                width: 60%;
            }
            @include m.max-screen(v.$sp) {
                width: 80%;
            }
            &_ttl{
                padding-left: 40px;
                margin-bottom: 30px;
                @include m.max-screen(v.$tab) {
                    margin-bottom: 3%;
                }
            }
            &_txt{
                text-align: left;
                @include m.txt-mini();
            }
        }
        
    }
}

.contents{
    > section{
        padding: 24px 0 32px;
        @include m.max-screen(v.$sp) {
            padding: 12px 0 24px;
        }
        &:nth-of-type(2n+1){
            background: v.$secondary;
        }
        &:nth-of-type(3n){
            background: v.$secondary-dark;
        }
        &:nth-of-type(5n){
            background: v.$white;
        }
    }
    .icon{
        position: absolute;
        z-index: 10;
        top: calc(50vh - 88px);
        right: 0;
        @include m.max-screen(v.$tab) {
            width: 100px;
        }
        @include m.max-screen(v.$sp) {
            width: 70px;
        }
        &.fix{
            position: fixed;
        }
    }
    .mascot{
        .button{
            margin: 34px auto 0;
        }
        .inner{
            .txt{
                width: 700px;
                margin: 0 auto;
                @include m.max-screen(v.$tab) {
                    width: auto;
                }
            }
        }
    }
    .offer{
        .button{
            margin: 34px auto 0;
        }
        .inner{
            .txt{
                width: 700px;
                margin: 0 auto;
                @include m.max-screen(v.$tab) {
                    width: auto;
                }
            }
        }
    }
    .about{
        .inner{
            .txt{
                width: 700px;
                margin: 0 auto;
                @include m.max-screen(v.$tab) {
                    width: auto;
                }
            }
        }
        .button{
            margin: 34px auto 0;
        }
    }
    .outline{
        .inner{
            .mapinfo{
                display: flex;
                flex-direction: row-reverse;
                @include m.max-screen(v.$sp) {
                    display: block;
                }
                .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 50%;
                    @include m.max-screen(v.$sp) {
                        margin: 0 auto;
                        width: auto;
                    }
                    .date{
                        dt{
                            @include m.txt-mini();
                            &{
                                font-weight: 600;
                            }
                        }
                        dd{
                            margin-bottom: 16px;
                        }
                    }
                    .button{
                        @include m.max-screen(v.$tab) {
                            margin: 0 auto;
                        }
                    }
                }
                .map{
                    width: 50%;
                    text-align: center;
                    @include m.max-screen(v.$sp) {
                        width: auto;
                        margin-bottom: 5%;
                    }
                }
            }
            .photo{
                display: flex;
                gap: 16px;
                margin-top: 40px;
                @include m.max-screen(v.$tab) {
                    margin-top: 8%;
                    display: block;
                    li{
                        &:nth-of-type(2){
                            margin-top: 5%;
                        }
                    }
                }
                .text{
                    text-align: center;
                    padding: 8px 4px;
                    font-size: 14px;
                    @include m.max-screen(v.$sp) {
                        padding: 4px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .exhibitors{
        .list{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            gap: 24px 16px ;
            @include m.max-screen(v.$tab) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @include m.max-screen(v.$sp) {
                gap: 16px 10px;
                grid-template-columns: 1fr 1fr;
            }
            @include m.max-screen(v.$se) {
                grid-template-columns: 1fr;
            }
            &.commit{
                > li{
                    .ttl{
                        background: v.$secondary;
                        color: v.$white;
                        border-radius: 8px 8px 0 0;
                    }
                }
            }
            > li{
                border-radius: 8px;
                display: grid;
                grid-auto-columns: 100%;
                grid-template-rows: subgrid;
                grid-row: span 4;
                gap: 0;
                min-width: calc(100% / 3);
                .ttl{
                    font-size: 16px;
                    margin-bottom: 0;
                    display: flex;
                    text-align: left;
                    @include m.max-screen(v.$sp) {
                        font-size: 14px;
                    }
                    .no{
                        background: v.$secondary-dark;
                        color: v.$white;
                        padding: 4px 10px;
                        border-radius: 6px 0 0 0;
                        vertical-align: middle;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        @include m.max-screen(v.$sp) {
                            padding: 2px 6px;
                        }
                    }
                    .name{
                        padding: 4px 10px;
                        font-size: 14px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        word-break: break-all;
                        @include m.max-screen(v.$sp) {
                            font-size: 12px;
                            padding: 2px 6px;
                        }
                    }
                }
                .img{
                    width: 100%;
                }
                .tag{
                    // flex-grow: 2;
                    font-size: 12px;
                    margin: 8px 4px;
                    color: v.$secondary;
                    @include m.max-screen(v.$sp) {
                        font-size: 10px;
                        margin: 4px 2px;
                    }
                    >li{
                        display: flex;
                        &:before{
                            content: '# ';
                        }
                    }
                }
                .sns{
                    display: flex;
                    column-gap: 10px;
                    font-size: 18px;
                    margin: 0 8px;
                    .ec{
                        order: 1;
                    }
                    .site{
                        order: 2;
                    }
                    .x{
                        order: 3;
                    }
                    .insta{
                        order: 4;
                    }
                }
            }
        }
        .space_map{
            margin: 80px auto;
        }
    }
    .sponsor{
        .list{
            display: grid;
            margin: 0 auto 60px;
            li{
                .logo{
                    margin-bottom: 16px;
                    display: grid;
                    place-content: center;
                }
               .info{
                text-align: center;
               }
            }
        }
        .premium{
            .list{
                width: 70%;
            }
        }
        .gold{
            .list{
                width: 90%;
                grid-template-columns: 1fr 1fr;
                column-gap: 24px;
                > li{
                    a{
                        display: block;
                        height: 100%;
                        .logo{
                            height: calc(100% - 2em - 16px);
                        }
                        .info{
                            height: 2em;
                        }
                    }
                }
            }
        }
        .silver,
        .coffee{
            .list{
                width: 45%;
            }
        }
        .box{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 70%;
            margin: 0 auto;
        }
    }
    .icon-ttl{
        text-align: center;
        margin-bottom: 24px;
        @include m.ttl-lv2();
        & {
            position: relative;
            padding-top: 34px;
        }
        @include m.max-screen(v.$tab) {
            padding-top: 26px;
            margin-bottom: 3%;
        }
        &:before{
            content: '';
            @include m.abs_center();
            top: 0;
            background: url(../img/page/icon_green.png) no-repeat center center /contain;
            width: 35px;
            height: 30px;
            @include m.max-screen(v.$tab) {
                width: 24px;
                height: 28px
            }
        }
    }
}