.contents .lead {
  margin-bottom: 32px;
}
@media screen and (max-width: 840px) {
  .contents .lead {
    margin-bottom: 6%;
  }
}
.contents h3 {
  margin-bottom: 24px;
}
@media screen and (max-width: 840px) {
  .contents h3 {
    margin-bottom: 3%;
  }
}
.contents .table {
  margin-bottom: 80px;
}
@media screen and (max-width: 840px) {
  .contents .table {
    margin-bottom: 10%;
  }
}
.contents .table_box .table_list {
  width: 100%;
}
@media screen and (max-width: 580px) {
  .contents .table_box .table_list {
    width: 480px;
  }
}
.contents .table_box .table_list tr {
  font-size: 14px;
}
@media screen and (max-width: 840px) {
  .contents .table_box .table_list tr {
    font-size: 12px;
  }
}
.contents .table_box .table_list tr.table_ttl {
  font-size: 16px;
}
@media screen and (max-width: 840px) {
  .contents .table_box .table_list tr.table_ttl {
    font-size: 14px;
  }
}
.contents .table_box .table_list tr th {
  vertical-align: middle;
}
.contents .text_box .booth {
  width: 80%;
  margin: 16px auto 32px;
}
@media screen and (max-width: 840px) {
  .contents .text_box .booth {
    margin: 2% auto 5%;
  }
}
.contents .text_box .acrylic {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 18px;
  align-items: flex-end;
  width: 80%;
  margin: 32px auto;
}
@media screen and (max-width: 840px) {
  .contents .text_box .acrylic {
    gap: 16px 8px;
    margin: 5% auto;
  }
}
.contents .text_box .acrylic > li {
  width: 48%;
}
@media screen and (max-width: 840px) {
  .contents .text_box .label_box dt {
    font-size: 10px;
  }
}
.contents .text_box.contact p.txt.lead-text {
  margin-bottom: 24px;
}
@media screen and (max-width: 840px) {
  .contents .text_box.contact p.txt.lead-text {
    margin-bottom: 5%;
  }
}
.contents .text_box.contact .button {
  margin: 0 auto;
}
